/*------------COMMON STYLES------------*/
html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fafcfc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  color: #333740;
}

.wrapper {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 1.3rem 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #18a3dd;
  color: #fff;
  border: 2px solid #18a3dd;
  border-radius: 50px;
  white-space: nowrap;
  -webkit-transition: background-color .3s, color .3s;
  -o-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.btn:hover {
  background-color: #fff;
  color: #18a3dd;
}

.section-heading {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.section-heading strong {
  font-weight: 800;
}

.section-heading .heading__divider {
  display: inline-block;
  margin: 0 2rem;
  width: 1px;
  height: 100%;
  background-color: #18a3dd;
}

/*----------------HEADER---------------*/
.header {
  height: 100vh;
  background: url(../img/hero-bg.png) no-repeat center 80%/contain;
  position: relative;
}

.main-nav {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.7rem 0;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  z-index: 2;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo__img {
  margin-right: 1rem;
  max-width: 60px;
}

.menu {
  position: absolute;
  right: 0;
  top: 100px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #18a3dd;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border: 2px solid #18a3dd;
  white-space: nowrap;
}

.menu__link:hover {
  background-color: #fff;
  color: #18a3dd;
}

.menu__link_active {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.menu__link_1 {
  -webkit-transition: opacity .3s, background-color .3s, color .3s, -webkit-transform .2s;
  transition: opacity .3s, background-color .3s, color .3s, -webkit-transform .2s;
  -o-transition: opacity .3s, background-color .3s, color .3s, transform .2s;
  transition: opacity .3s, background-color .3s, color .3s, transform .2s;
  transition: opacity .3s, background-color .3s, color .3s, transform .2s, -webkit-transform .2s;
}

.menu__link_2 {
  -webkit-transition: opacity .3s .1s, background-color .3s, color .3s, -webkit-transform .2s .1s;
  transition: opacity .3s .1s, background-color .3s, color .3s, -webkit-transform .2s .1s;
  -o-transition: opacity .3s .1s, background-color .3s, color .3s, transform .2s .1s;
  transition: opacity .3s .1s, background-color .3s, color .3s, transform .2s .1s;
  transition: opacity .3s .1s, background-color .3s, color .3s, transform .2s .1s, -webkit-transform .2s .1s;
}

.menu__link_3 {
  -webkit-transition: opacity .3s .2s, background-color .3s, color .3s, -webkit-transform .2s .2s;
  transition: opacity .3s .2s, background-color .3s, color .3s, -webkit-transform .2s .2s;
  -o-transition: opacity .3s .2s, background-color .3s, color .3s, transform .2s .2s;
  transition: opacity .3s .2s, background-color .3s, color .3s, transform .2s .2s;
  transition: opacity .3s .2s, background-color .3s, color .3s, transform .2s .2s, -webkit-transform .2s .2s;
}

.menu__link_4 {
  -webkit-transition: opacity .3s .3s, background-color .3s, color .3s, -webkit-transform .2s .3s;
  transition: opacity .3s .3s, background-color .3s, color .3s, -webkit-transform .2s .3s;
  -o-transition: opacity .3s .3s, background-color .3s, color .3s, transform .2s .3s;
  transition: opacity .3s .3s, background-color .3s, color .3s, transform .2s .3s;
  transition: opacity .3s .3s, background-color .3s, color .3s, transform .2s .3s, -webkit-transform .2s .3s;
}

.hamburger {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 2rem;
}

.hamburger:hover .hamburger__line {
  background-color: #18a3dd;
}

.hamburger__line {
  width: 100%;
  height: 6px;
  background-color: #666;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.hamburger__line_2 {
  top: 12px;
}

.hamburger__line_3 {
  top: 12px;
}

.hamburger__line_4 {
  top: 24px;
}

.hamburger_active .hamburger__line {
  background-color: #18a3dd;
}

.hamburger_active .hamburger__line_1,
.hamburger_active .hamburger__line_4 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.hamburger_active .hamburger__line_2 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger_active .hamburger__line_3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__hero {
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

.hero__heading {
  font-size: 2.4rem;
  padding-left: 3rem;
  position: relative;
}

.hero__heading:before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 5px;
  height: 100%;
  background-color: #18a3dd;
}

.hero__heading strong {
  display: block;
  font-size: 7.2rem;
  line-height: .8;
  margin-bottom: 2rem;
}

.hero__para {
  max-width: 430px;
  margin: 7rem 0 5rem;
}

.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__play-video {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 2.5rem;
  line-height: 18px;
  white-space: nowrap;
  color: #333740;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.hero__play-video:hover {
  color: #18a3dd;
}

.hero__play-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
  background: url(../img/play-icon.png) center center/cover;
  margin-left: 1rem;
}

.hero__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero__pic {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero__img {
  max-width: 100%;
  margin-top: 2rem;
}

/*------------COMMON STYLES------------*/
/*------------COMMON STYLES------------*/
/*------------COMMON STYLES------------*/
/*------------COMMON STYLES------------*/
