$grey: #666;
$black: #333740;
$white: #fff;
$blue: #18a3dd;
$lightgrey: #a9a9a9;
/*------------COMMON STYLES------------*/
html {
  height: 100%;
  font-size: 10px;
}
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fafcfc;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  color: $black;
}
.wrapper {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 1.3rem 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $blue;
  color: $white;
  border: 2px solid $blue;
  border-radius: 50px;
  white-space: nowrap;
  transition: background-color .3s, color .3s;
  &:hover {
    background-color: $white;
    color: $blue;
  }
}
.section-heading {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  strong {
    font-weight: 800;
  }
  .heading__divider {
    display: inline-block;
    margin: 0 2rem;
    width: 1px;
    height: 100%;
    background-color: $blue;
  }
}
.section-descr {

}
/*----------------HEADER---------------*/
.header {
  height: 100vh;
  background: url(../img/hero-bg.png) no-repeat center 80% / contain;
  position: relative;
}
.main-nav {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 0;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  z-index: 2;
}
.logo__link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.logo__img {
  margin-right: 1rem;
  max-width: 60px;
}
.menu {
  position: absolute;
  right: 0;
  top: 100px;
}
.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: $blue;
  color: $white;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0;
  transform: scale(0.5);
  border: 2px solid $blue;
  white-space: nowrap;
  &:hover {
    background-color: $white;
    color: $blue;
  }
}
.menu__link_active {
  opacity: 1;
  transform: scale(1);
}
.menu__link_1 {
  transition: opacity .3s, background-color .3s, color .3s, transform .2s;
}
.menu__link_2 {
  transition: opacity .3s .1s, background-color .3s, color .3s, transform .2s .1s;
}
.menu__link_3 {
  transition: opacity .3s .2s, background-color .3s, color .3s, transform .2s .2s;
}
.menu__link_4 {
  transition: opacity .3s .3s, background-color .3s, color .3s, transform .2s .3s;
}
.hamburger {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 2rem;
  &:hover {
    .hamburger__line {
      background-color: $blue;
    }
  }
}
.hamburger__line {
  width: 100%;
  height: 6px;
  background-color: $grey;
  position: absolute;
  border-radius: 2px;
  transition: all .2s;
}
.hamburger__line_2 {
  top: 12px;
}
.hamburger__line_3 {
  top: 12px;
}
.hamburger__line_4 {
  top: 24px;
}
.hamburger_active {
  .hamburger__line {
    background-color: $blue;
  }
  .hamburger__line_1,
  .hamburger__line_4 {
    transform: scale(0);
  }
  .hamburger__line_2 {
    transform: rotate(45deg);
  }
  .hamburger__line_3 {
    transform: rotate(-45deg);
  }
}
.header__hero {
  height: 88vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.hero__heading {
  font-size: 2.4rem;
  padding-left: 3rem;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 5px;
    height: 100%;
    background-color: $blue;
  }
  strong {
    display: block;
    font-size: 7.2rem;
    line-height: .8;
    margin-bottom: 2rem;
  }
}
.hero__para {
  max-width: 430px;
  margin: 7rem 0 5rem;
}
.hero__links {
  display: flex;
  align-items: center;
}
.hero__play-video {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 2.5rem;
  line-height: 18px;
  white-space: nowrap;
  color: $black;
  transition: color .2s;
  &:hover {
    color: $blue;
  }
}
.hero__play-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: -4px;
  background: url(../img/play-icon.png) center center / cover;
  margin-left: 1rem;
}
.hero__text {
  flex: 1;
}
.hero__pic {
  flex: 1;
}
.hero__img {
  max-width: 100%;
  margin-top: 2rem;
}
/*----------------STATS----------------*/
.stats {
  padding: 11rem 0;
  background-color: #21172b;
  color: $white;
  position: relative;
}
.stats__pic {
  position: absolute;
  left: 4%;
  top: -70px;
  z-index: 1;
}
.stats__list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  max-width: 750px;
  padding-right: 5%;
}
.stats__stat {
  z-index: 2;
  width: 150px;
}
.stat__number {
  font-size: 7.2rem;
  padding-left: 2rem;
  position: relative;
  display: block;
  line-height: 1;
  margin-bottom: 2rem;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: .7rem;
    width: 5px;
    height: 90%;
    background-color: $blue;
  }
}
.stat__small {
  strong {
    display: block;
    color: $blue;
    text-transform: uppercase;
  }
}
/*------------COMMON STYLES------------*/
/*------------COMMON STYLES------------*/
/*------------COMMON STYLES------------*/
