$grey: #666;
$black: #333740;
$white: #fff;
$blue: #18a3dd;
$lightgrey: #a9a9a9;
/*------------COMMON STYLES------------*/
html {
  height: 100%;
  font-size: 10px;
}
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fafcfc;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  color: $black;
}
