@media screen and (max-width: 1200px) {

  html {
    font-size: 9.5px;
  }
  .stats__pic {
    display: none;
  }
  .stats__list {
    margin: 0 auto;
    padding: 0 5%;
  }

}
@media screen and (max-width: 992px) {

  html {
    font-size: 9px;
  }

}
@media screen and (max-width: 768px) {

  html {
    font-size: 8.5px;
  }
  .header {
    background: none;
  }
  .logo__img {
    height: 50px;
  }
  .main-nav {
    padding: 1.5rem;
  }
  .hamburger {
    margin-right: 1rem;
  }
  .header__hero {
    flex-direction: column;
    text-align: center;
  }
  .hero__text {
    margin: 3rem 0;
  }
  .hero__heading {
    padding: 0;
    &:before {
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      bottom: -2rem;
    }
  }
  .hero__para {
    margin: 4rem 0;
  }
  .hero__links {
    flex-direction: column;
  }
  .hero__pic {
    width: 80%;
  }
  .hero__play-video {
    margin-top: 2rem;
    margin-left: 0;
  }

}
@media screen and (max-width: 480px) {

  html {
    font-size: 8px;
  }
  .stats__list {
    flex-direction: column;
    align-items: center;
  }
  .stats__stat:not(:last-child) {
    margin-bottom: 5rem;
  }

}
@media screen and (max-width: 320px) {

  html {
    font-size: 7.5px;
  }

}
